* {
    padding: 0;
    margin: 0
}

html, body {
    width: 100%;
    height: 100%;
    color: #333;
    font-size: .18rem;
    overflow: hidden;
}

li {
    list-style-type: none;
}

.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

em, i {
    font-style: normal;
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.full-content {
    width: 100%;
}

.card-tv-image {
    position: absolute;
    width: calc(100% - 0.09rem);
    top: 38%;
    left: 0.02rem;
}

.card-template-box {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-image: url("../../../static/images/card/birthday/birdthdaybg.png");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-template {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-main-content {
    width: 100%;
    height: 78%;
    min-height: 4rem;
    position: absolute;
    text-align: center;
    bottom: 0;
}

.head-from-box {
    position: absolute;
    top: 19%;
    width: 100%;
    height: 19%;
    min-height: calc(2% + .64rem);
}

.head-from-center {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.head-image-box {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    border: 0.03rem solid #fff;
    padding: 0.03rem;
    background-color: rgb(253, 218, 29);
}

.head-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.from-wish {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: .14rem;
    line-height: .14rem;
    color: #333;
    margin-top: 2%;
}

.from-wish span {
    display: inline-block;
    vertical-align: middle;
}

.from-user-name {
    font-size: .14rem;
    line-height: .14rem;
    color: #000;
    font-weight: bold;
    max-width: 1.2rem;
    margin: 0 .04rem;
}

.video-content {
    position: absolute;
    box-sizing: border-box;
    width: 74%;
    left: 8.93%;
    top: 14.12%;
    z-index: 1;
}

.video-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.paly-button, .pause-button {
    position: absolute;
    width: .48rem;
    height: .48rem;
    background-color: rgba(0, 0, 0, .5);
    left: calc(50% - .4rem);
    bottom: 1.52rem;
    border-radius: .24rem;
    z-index: 7;
}

.paly-button:before {
    content: '';
    position: absolute;
    border: .12rem solid transparent;
    border-left: .18rem solid #fff;
    border-right: 0;
    left: .18rem;
    top: .12rem;
}

.pause-button:before, .pause-button:after {
    content: '';
    position: absolute;
    width: .05rem;
    background-color: #fff;
    height: .2rem;
    border-radius: .025rem;
    left: .18rem;
    top: .14rem;
}

.pause-button:after {
    left: .27rem;
}

.video-tip {
    position: absolute;
    width: .6rem;
    height: .32rem;
    line-height: .16rem;
    text-align: center;
    color: #fff;
    font-size: .16rem;
    border: .02rem solid #FFFFFF;
    border-radius: .04rem;
    top: calc(50% - .16rem);
    left: calc(50% - .3rem);
    font-weight: bold;
    box-sizing: border-box;
    padding: .07rem 0;
    z-index: 2;
}

.video-max-time {
    position: absolute;
    right: 4%;
    bottom: 2%;
    display: block;
    font-size: .12rem;
    color: #FFFFFF;
    font-weight: bold;
    z-index: 2;
}

.thank-reply-button {
    position: absolute;
    width: 1.5rem;
    text-align: center;
    bottom: .23rem;
    left: calc(50% - 0.75rem);
    height: 0.26rem;
    color: rgb(51, 51, 51);
    border: 2px solid rgb(0, 0, 0);
    font-size: 0.16rem;
    line-height: 0.26rem;
    background-color: rgb(239, 181, 15);
    border-radius: 0.29rem;
    box-shadow: 0 0 0.07rem #333;
    animation: toMove 2s infinite ease-in-out;
    -webkit-animation: toMove 2s infinite ease-in-out;
    -moz-animation: toMove 2s infinite ease-in-out;
    -ms-animation: toMove 2s infinite ease-in-out;
    -o-animation: toMove 2s infinite ease-in-out;
}

@keyframes toMove {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
    50% {
        transform: scale(1.03);
        box-shadow: 0 0 0.15rem #666;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
}

@-webkit-keyframes toMove {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
    50% {
        transform: scale(1.03);
        box-shadow: 0 0 0.15rem #666;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
}

@-moz-keyframes toMove {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
    50% {
        transform: scale(1.03);
        box-shadow: 0 0 0.15rem #666;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
}

@-ms-keyframes toMove {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
    50% {
        transform: scale(1.03);
        box-shadow: 0 0 0.15rem #666;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
}

@-o-keyframes toMove {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
    50% {
        transform: scale(1.03);
        box-shadow: 0 0 0.15rem #666;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0.07rem #333;
    }
}

.card-text-div {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    /*animation: typing 1.5s steps(40);*/
}

.card-template .fade-in-enter-active {
    transition: all 2s ease;
}

.card-template .fade-in-enter, .fade-in-leave-to {
    opacity: 0;
}

.card-video-happy {
    position: absolute;
    width: 78%;
    top: 1%;
    left: 11%;
    z-index: 1;
}

.card-video-happy-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.card-video-blue-ng {
    width: 100%;
    height: 100%;
}

.video-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
    top: 0;
    left: 0;
}

.video-mask-light {
    background-color: rgba(0, 0, 0, .2);
}

.go-back {
    position: absolute;
    left: .15rem;
    top: .15rem;
    z-index: 10000000;
}
